@using CaptchaGenerator.Localization

@model CaptchaEntities.Captcha.CaptchaEntity

@{
    ViewBag.Title = @Resources.Delete;
}

<h2>@Resources.Delete</h2>

<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd class="image-display-item">
            @Html.DisplayFor(model => model.Image, "Image")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.Delete" class="btn btn-default" /> |
            @Html.ActionLink(@Resources.Back, string.Empty)
        </div>
    }
</div>
