@model CaptchaEntities.Captcha.CaptchaEntity

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CaptchaEntity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd class="image-display-item">
            @Html.DisplayFor(model => model.Image, "Image")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
